.gcontainer{
    width:100%;
    height: 80px;
    /*border:12px solid black;*/
    box-shadow: 0 0 12px black;
    display:grid;
    grid-template-columns: 30% 50% 20%;
    background-color: aqua;
    position: sticky;
    top:0;

    
}
nav{
    position:sticky;
    top:0;
}
*{
    margin:0;
}
.flexcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#gridcon{
           width: 1000px;
           height: 500px;
           box-shadow:0 0 8px black ;
           margin: 30px auto;
           display: grid;
           grid-template-columns: repeat(5,1fr) ;
           grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 20px;
        
        }
.grid1{
    background-image: linear-gradient(45deg,rgba(0,0,0,0.2)),url("https://www.bing.com/th/id/OIP.x7xEpNL0_fyPWspMDswQ8wHaJ4?w=160&h=211&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
            grid-column: 1/4;
            grid-row: 1/5;
            display:flex;
            flex-direction: column;
             justify-content: center;
        align-items: center;
        color:cornsilk
       }

       .grid1 p{
        text-align: center;
       }
       .grid1 h1{
        color: yellowgreen;
        text-align: center;
       }
 .grid2{
    background-image: linear-gradient(45deg,rgba(61, 61, 112,0.2)),url("https://www.bing.com/th/id/OIP.vw82j9RWZpxGlBCFVYyVCwHaEc?w=215&h=211&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
                grid-column: 4/6;
            grid-row: 1/3;
                 display:flex;
             justify-content: center;
        align-items: center;
        }
.grid3{

    background-image: linear-gradient(45deg,rgba(0,0,0,0.5)),url("https://www.bing.com/th/id/OIP.FfZZL1-vWI5OEQ4jGeKzbQHaFj?w=272&h=211&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
            grid-column: 4/6;
            grid-row: 3/5;
                 display:flex;
             justify-content: center;
        align-items: center;
      }       
.flexcontainer h1{
    color:darkgreen;
}
.flexcontainer2{
    display: flex;
    justify-content: center;
    align-items: center;

}
.flexcontainer2 a{
    text-decoration: none;
    margin-right: 20px;


}
.icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
   
}
.icons i{
    margin-top: 10px;
    font-size: 32px;
    
}
.icons a{
    font-size: 20px;
    margin-right: 30px;
    margin-top: 10px;

}
#container{
    width:1200px;
    height:110px;
    /*border:3px solid green;-->*/
    margin:20px auto;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2px;


}
#flexitem img{
    border-radius: 50%;
    box-shadow: 0 0 10px black ;
    
}
#flexitem{
    text-align: center;

}
#flexitem h3{
   text-shadow: 0 0 10px red;

}



#products{
    display:flex;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap:20px;
}
.card{
            width:290px;
            height:380px;
            padding:10px;
            text-align: center;
            box-shadow: 0 0 10px green;
            position: relative;

}

.card  h5 {
    color: green;
    font-size: medium;
    margin-top: 15px;  
  
}
.card p {
   color: red;
   text-align: center;
   position: absolute;
   top:62%;
   
}
.card button{
    padding: 15px 30px;
    border:none;
    border-radius:5px;
    background-color: green;
    box-shadow: 0 0 10px black;
    margin-top:115px;
}

.card  h3  {
    position: relative;
    margin:0%


}



.top-deals{
    width:95%;
    height:300px;
    margin :30px auto;
    display: grid;
    grid-template-rows: 10% 90%;
}
.topdealstitle{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.dealscard{
    width:200px;
    padding:10px;
    box-shadow: 0 0 10px black;

}
.topdealsproducts{
    display: flex;
    justify-content: space-evenly;
    
align-items: center;
flex-wrap: wrap;
gap: 20px;
justify-content: space-evenly;

}
.topdealsproducts h3{
    text-align: center;
}
.profielcontainer{
    width: 100%;
    height: 320px;
    background-image: linear-gradient(45deg,rgba(0,255,0,0.7),rgba(0,0,0,0.7)),url("https://www.bing.com/th/id/OIP.Abs5336ZoAydedJqUeuwqgHaEK?w=274&h=211&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2");
margin: 0 auto;
}

#contentprofile h1,h4 ,p {
    
    color:green;
    text-align: center;
    position: relative;
    right: 32px;
    top: 66px;
   

}

#contentprofile  p{
    
    width:1000px;
    color: blue;
    text-align: justify;
    margin: 10px auto 90px;
    




}
.profileiamges{
    position:relative;
    left:42%;
    top: 270px;
    border-radius: 50%;
}

/*#icons{
    border: 3px solid black;
    position: relative;
    left:50%;
}*/
#icons{
    position: relative;
    
    left:40%;
}


#whatsapp{
    background-color: green;
    width:8%;
    border-top-left-radius: 26px;
    display:flex;
    justify-content: end;
    position: fixed;
    right:2px;
    bottom :2px;
    

}

