.gcontainer{
    width:100%;
    height: 80px;
    /*border:12px solid black;*/
    box-shadow: 0 0 12px black;
    display:grid;
    grid-template-columns: 30% 50% 20%;

}
*{
    margin:0;
}
.flexcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.flexcontainer h1{
    color:darkgreen;
}
.flexcontainer2{
    display: flex;
    justify-content: center;
    align-items: center;

}
.flexcontainer2 a{
    text-decoration: none;
    margin-right: 20px;


}
.icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
   
}
.icons i{
    font-size: 32px;
     margin-right: 20px;
    
    
}
.icons a{
    font-size: 20px;
     margin-right: 30px;
   

}